# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Logs
logs/
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs / Editores
.idea/
.vscode/
*.swp
*.swo

# Distribuição
build/
dist/
*.egg-info/
